.Button {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  color: hsl(160, 20%, 95%);
  background-color: hsl(350, 75%, 45%);
  border: none;
  border-radius: 0.25rem;

  &[type='submit'] {
    background-color: hsl(160, 50%, 45%);
  }
}
