.Header {
  .WebsiteTitle {
    margin: 0;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    text-shadow:
      0 1px hsl(40, 20%, 75%),
      0 2px hsl(40, 20%, 75%);
    transform: rotate(-2deg);

    @media screen and (max-width: 40rem) {
      font-size: 1.5rem;
      line-height: 1.5rem;
      transform: rotate(-2deg);
    }
  }
}
