.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem calc(50vw - 20rem);
  background-color: white;

  @media screen and (max-width: 40rem) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
