.Rides {
  .Ride {
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: hsl(0, 0%, 96%);
    border-radius: 0.25rem;

    h1 {
      margin-bottom: 0.5rem;
      font-size: 1rem;
    }

    button {
      display: block;
      margin-top: 0.5rem;
    }
  }
}
