* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color: hsl(170, 10%, 25%);
  background-color: hsl(180, 7%, 92%);
}

:root,
input,
button {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;

  @media (min-width: 800px) {
    font-size: 2rem;
    line-height: 2rem;
  }
}

h1 {
  font-family: 'Domine', serif;
  color: hsl(350, 75%, 45%);
}

a {
  color: hsl(170, 10%, 25%);

  &:focus,
  &:hover {
    color: hsl(350, 75%, 45%);
    text-decoration: none;
  }
}
