* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TODO: Everything below should be converted to components */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

h1 {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
}
