* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
}

/** TODO: Everything below should be converted into components */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
