:root {
  --color-primary: hsl(350, 80%, 45%);

  --color-secondary--ultra-dark: hsl(170, 10%, 25%);

  --color-gray--ultra-light: hsl(170, 15%, 95%);
  --color-gray--light: hsl(170, 15%, 85%);
  --color-gray: hsl(170, 10%, 60%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-gray--ultra-light);
}

:root,
input,
button {
  color: var(--color-secondary--ultra-dark);
  font-family: 'Domine', serif;
}

h1 {
  color: var(--color-primary);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

p,
label,
input,
button {
  font-size: 1rem;
  line-height: 1.5rem;
}

button {
  cursor: pointer;
  height: 2rem;
  padding: 0 0.5rem;
  color: white;
  background-color: var(--color-primary);
  border: none;
  border-radius: 0.25rem;
}

table {
  border-collapse: collapse;

  tr > *:first-child {
    padding-left: 0;
  }

  tr > *:last-child {
    padding-right: 0;
  }

  th,
  td {
    padding: 0.5rem 0.5rem;
  }
}

a {
  color: var(--color-secondary--ultra-dark);

  &:focus,
  &:hover {
    color: var(--color-primary);
  }
}
