* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  position: relative;
  min-height: 100vh;
}

:root {
  --font-heading: 'Domine', system-ui;
  --font-text: 'Domine', system-ui;

  --color-heading: hsl(352, 75%, 38%);
  --color-text: hsl(28, 32%, 24%);
  --color-sub: hsl(30, 8%, 62%);
}

body,
input,
button {
  color: var(--color-text);
  font-family: var(--font-text);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

h1 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-heading);
  font-family: var(--font-heading);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}

p {
  margin-bottom: 0.5rem;
}

a {
  color: var(--color-text);
  text-decoration: underline;

  &:hover {
    color: var(--color-heading);
  }
}
